<% content_for :features, "template-page" %>
<% content_for :class, "template-page" %>



<!--    navbar come here          -->



<!-- end navbar  -->



<div class="wrapper">

<!-- content come here     -->

</div>



<!-- Modal Bodies come here -->

<!--   end modal -->
